.App {
  text-align: center;
}
.forma{
  margin-top: 20%;
  margin-left: 20%;
  background-color: #aa6868;
  height: 300px;
  width: 300px;
  border-radius: 13px;
}
.name{
  margin-top: 20px;
  margin-left: 50px;
  background-color: #e9e1e1;
  text-align: center;
  border-radius: 13px;
}
.password{
  text-align: center;
  margin-top: 20px;
  margin-left: 50px;
  background-color: #e9e1e1;
  border-radius: 13px;
}
button{
  margin-top: 20px;
  display: block;
  margin-left: 50px;
}
