.App {
  text-align: center;
}
body{
  background-color: #21076f;
}
.forma{
  margin-top: 2%;
  margin-left: 4%;
  background-color: #7a9fcc;
    height: 300px;
  width: 300px;
  border-radius: 13px;
}
.name{
  margin-top: 20px;
  margin-left: 50px;
  background-color: #e9e1e1;
  text-align: center;
  border-radius: 13px;
}
.password{
  text-align: center;
  margin-top: 20px;
  margin-left: 50px;
  background-color: #e9e1e1;
  border-radius: 13px;
}
button{
  margin-top: 20px;
  display: block;
  margin-left: 50px;
}


.dashboard{
  background-color: #7a9fcc;
  height: 300px;
  width: 300px;
  border-radius: 13px;
  margin-left: 4%;
  padding-left: 4%;
}